tesora-dve-common/src/main/resources/onPremiseSiteProvider.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="onPremiseSiteProviderConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pool" type="PoolConfig" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="PoolConfig">
		<xs:sequence>
			<xs:element name="site" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
					<xs:attribute type="xs:string" name="name" use="required" />
					<xs:attribute type="xs:string" name="url" use="required" />
					<xs:attribute type="xs:string" name="user" use="required" />
					<xs:attribute type="xs:string" name="password" use="required" />
					<xs:attribute type="xs:int" name="maxQueries" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute type="xs:string" name="name" use="required" />
		<xs:attribute type="xs:string" name="alternatePool" use="optional" />
	</xs:complexType>

</xs:schema>


